.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main>* {
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.header>* {
  margin: 0;
}