.outer {
  margin-bottom: 2rem;
}

.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-size: 15px;
}

.consoleWrapper summary {
  height: 3rem;
  display: flex;
  align-items: center;
  font-size: .8rem;
  font-weight: bold;
  padding: 0 .5rem;
}

.consoleWrapper[open] summary::before {
  content: '⏷'
}

.consoleWrapper summary::before {
  content: '⏵';
  margin-right: .5rem;
}

.console {
  min-height: 3rem;
}