.block {
  border-top: .25px solid #ddd;

  .wrapper {
    width: 996px;
    margin: 0 auto;
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 40rem;

    >* {
      margin: 0;
    }

    @media screen and (max-width: 996px) {
      width: 100%;
    }

    h2 {
      font-size: 3rem;

      @media screen and (max-width: 640px) {
        font-size: 2rem;
      }
    }

    article {
      p {
        margin-bottom: 1rem;
      }

      h3 {
        a {
          color: black;
          text-decoration: underline;
        }
      }
    }
  }
}